@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: hsl(216, 59%, 11%);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: hsl(215, 51%, 70%);
    font-family: 'Outfit', sans-serif;
}

img {
    width: 250px;
}

.card {
    box-shadow: -2px 2px 19px 9px rhsl(213, 60%, 6%);
    -webkit-box-shadow: -2px 2px 19px 9px hsl(213, 60%, 6%);
    -moz-box-shadow: -2px 2px 19px 9px hsl(216, 59%, 11%);
    background-color: hsl(216, 50%, 16%);
    width: min-content;
    height: min-content;
    padding: 20px;
    border-radius: 10px;
}

.img1 {
    border-radius: 8px;
    margin-bottom: 15px;
}

.card-content h2 {
    font-size: 18px;
    color: hsl(0, 0%, 100%);
    margin-bottom: 10px;
}

p {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
}

.p1 {
    color: hsl(178, 100%, 50%);
    font-size: 12px;
    text-align: center;
}

.img2 {
    height: min-content;
    width: min-content;
    padding-bottom: 5px;
    vertical-align: middle;
}

.p2 {
    font-size: 12px;
    text-align: center;
}

.img3 {
    height: min-content;
    width: min-content;
    margin-left: 90px;
    vertical-align: middle;
    padding-bottom: 5px;
}

hr {
    border: 0.5px groove hsl(215, 51%, 70%);
    margin-bottom: 10px;
}

.p3 {
    border-top: 1px solid hsl(215, 32%, 27%);
}

.img4 {
    max-width: 25px;
    border: 1px solid white;
    border-radius: 999rem;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: 10px;
}

span {
    color: hsl(0, 0%, 100%);
}